#x{x:x;/*=CONTENT-IMAGE=*/}
.contentpage.ns-file {
  #mw-content-text {
    @include wide-block;
    border-bottom: 1px solid #ccc;
    #file.fullImageLink {
      margin-bottom: 0.5em;
    }
  }
}

#mw-imagepage-section-linkstoimage p, #mw-imagepage-nolinkstoimage p {
    font-style: italic;
}
.mw-imagepage-linkstoimage {
     padding-left: 2em;
}
