// Files
$skinpath: "../skin/";
$logopath: url($skinpath + "logo.png");
$titlepath: url($skinpath + "naam.png");
$buttonpath: url($skinpath + "button-gloss.png");
$backgroundpath: url($skinpath + "bg.jpg");

$path-image-paper: $skinpath + "handmadepaper.png";
